.affix {
  height: auto;
}
  
.sideaffix {
  overflow-x: hidden;
  overflow-y: auto;
}

.affix > ul.level1 {
  overflow: inherit;
}

.affix ul > li.active > ul,
.affix ul > li.active > a:before,
.affix ul > li > a:hover:before {
  display: block;
  white-space: inherit;
}

.workflow {
  border: 1px solid #e3e3e3;
  padding: 1px;
}

.workflow > p > img {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.codeHeader {
  box-sizing: content-box;
  background-color: #f2f2f2;
  color: #171717;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin-top: 16px;
  min-height: 30px;
}

.codeHeader > .language {
  padding: 2px 16px;
  flex-grow: 1;
  line-height: 26px;
}

.codeHeader > .action {
  position: relative;
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid #e3e3e3;
  border-left-width: 1px;
  color: #171717;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.codeHeader .glyphicon {
  margin-right: 0.25em;
}

.codeHeader > .action:hover {
  background-color: #fafafa;
}

.codeHeader + pre {
  margin-top: 0;
  border: 1px solid #e3e3e3;
}

.codeHeader > .action .successful-copy-alert {
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: #128712;
  outline-color: #fff;
  color: #fff;
}

.codeHeader > .action .successful-copy-alert.is-transparent {
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

.diagram {
  text-align: center;
}

summary {
  display: list-item;
}

pre:has(> .lang-mermaid) {
  background-color: transparent;
}

.lang-mermaid, .label {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

.lang-mermaid, hr {
  margin-top: unset;
  margin-bottom: unset;
  border-color: unset;
}

.navbar-inverse{background-color:#f8f8f8;border-color:#ffffff}
.navbar-inverse .navbar-brand{color:#9d9d9d}
.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover{color:#222;background-color:transparent}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:#9d9d9d}
.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color:#222;background-color:transparent}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#222;background-color:#f8f8f8}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover{color:#444;background-color:transparent}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{color:#222;background-color:#f8f8f8}

.navbar-inverse .navbar-toggle{border-color:#333}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#333}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#222}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color:#101010}
.navbar-inverse .navbar-link{color:#9d9d9d}
.navbar-inverse .navbar-link:hover{color:#222}
.navbar-inverse .btn-link{color:#9d9d9d}
.navbar-inverse .btn-link:focus,.navbar-inverse .btn-link:hover{color:#222}
.navbar-inverse .btn-link[disabled]:focus,.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:focus,fieldset[disabled] .navbar-inverse .btn-link:hover{color:#444}

svg:hover path {
  fill: unset;
}